@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
}

<h1>User List</h1>

<table>
    <thead>
        <tr class="col-12">
            <th class="col-1">UserName</th>
            <th class="col-1">FirstName</th>
            <th class="col-1">LastName</th>
            <th class="col-2">Email</th>
            <th class="col-3">BirthDate</th>
            <th class="col-1">Failed</th>
            <th class="col-1">Actions</th>
        </tr>
    </thead>,
    <tbody>
        @foreach (var item in Model)
            {
        <tr class="col-12">
            <td class="col-1">@item.UserName</td>
            <td class="col-1">@item.FirstName</td>
            <td class="col-1">@item.LastName</td>
            <td class="col-2">@item.Email</td>
            <td class="col-3">@item.BirthDate</td>
            <td class="col-1">@item.AccessFailedCount</td>
            <td class="col-1">
                <a asp-action="Details" asp-controller="Admin" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
           }
    </tbody>
</table>
