
@model Person


<div id="@("person" + Model.Id)" class="row">
    <div class="col-3">
        <p>@Model.Name</p>
    </div>
    <div class="col-3">
        <p>@Model.Phone</p>
    </div>
    <div class="col-3">
        <p>@Model.LiveInCity.CityName</p>
    </div>
    <div class="col-3">
        @*  routar om från controllern till javascript funktionen! *@
        @*  <a asp-action="Delete" asp-controller="People" asp-route-id="@Model.Id">Delete</a>*@

        <a class="btn-danger" asp-action="Delete" asp-route-id="@Model.Id" onclick="deletePerson(this, event)">Delete</a>
        
        <a class="btn-primary" asp-action="PartialDetailes" asp-route-id="@Model.Id" onclick="detailsPerson(@Model.Id, event)">Details</a>
    </div>
</div>
