
@model Person

@* Breddade till col-6 för att snygga till details vyn.  *@

<div id="@("person" + Model.Id)" class="col-12">
    <div class="col-3">
        <p class="bold_text" >Name:</p>
        <p>@Model.Name</p>
    </div>
    <div class="col-3">
        <p class="bold_text" >Phone:</p>
        <p>@Model.Phone</p>
    </div>
    <div class="col-3">
        <p class="bold_text" >City:</p>
        <p>@Model.LiveInCity.CityName</p>
    </div>
    <div class="col-3">
        <a class="btn-primary" asp-action="endPeopleDetails" asp-route-id="@Model.Id" onclick="closeDetailsPerson(@Model.Id, event)">Close Details</a>
    </div>
</div>
