@model Person

<div id="@("person" + Model.Id)" class="row">
    <div class="col-1">
        <p>@Model.Name</p>
    </div>
    <div class="col-2">
        <p>@Model.Phone</p>
    </div>
    <div class="col-2">
        <p>@Model.LiveInCity.CityName</p>
    </div>
    <div class="col-4">
        @*  routar om från controllern till javascript funktionen! *@
        @*  <a asp-action="Delete" asp-controller="People" asp-route-id="@Model.Id">Delete</a>*@
        <a class="btn-danger" asp-action="Delete" asp-route-id="@Model.Id" onclick="deletePerson(this, event)">Delete</a>
        <a class="btn-primary" asp-action="PartialDetailes" asp-route-id="@Model.Id" onclick="detailsPerson(@Model.Id, event)">Details</a>
        <a class="btn-primary" asp-controller="People" asp-action="LanguageManagement" asp-route-id="@Model.Id">Languages</a>
    </div>
</div>
